body {
    background-color: powderblue;
}

h1 {
    color: blue;
}

p {
    color: red;
    font-weight: bold;
    font-size: 160%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: hotpink;
    font-size: 70px;
    text-align: center;
}