<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style.css">
    <title>HTML5</title>
</head>
<body>
    <header>
        <h1>Erreur! Fichier non trouvé</h1>
    </header>
    <p>
        La page que vous cherchez est introuvable
    </p>
    <br>
    <a href="http://localhost:5000/">Retourner à la page d'accueil</a>
    <br>
    <img src="../static/licorne.png" alt="Licorne">
</body>
</html>